.contact {
  padding: 100px 0;
  background-color: var(--section-bg-color)
}

.contact h2 {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 20px;
}

.contact-items {
  display: flex;
  align-items: center;
  /* gap: 20px; */
  flex-wrap: wrap;

}

.contact-items {
  padding-top: 20px;
}

.item:nth-child(1) {
  width: 40%;

}

@media (max-width:992px) {
  .item:nth-child(1) {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
    flex: auto;
  }

  .item:nth-child(2),
  .item:nth-child(3) {
    width: 50%;
    flex: auto;
  }
}

@media (max-width:767px) {
  .item {
    width: 100% !important;
    flex: auto;
    margin-bottom: 20px;
  }
}



.item .maps {
  max-width: 100%;
  border-radius: 20px;
}


.color {
  color: var(--secondary-color);
}

.item h4 {
  font-size: 28px;
  margin-bottom: 18px;
}

.item p {
  font-size: 20px;
  color: var(--p-color);
  line-height: 1.9;
}

.item img {
  max-width: 100%;
}

.item:nth-child(3) {
  margin: 0 10px;
  padding: 0 10px;
  width: 28%;
}

.item:nth-child(2) {
  width: 28%;
  margin-left: 10px;
  padding-left: 10px;
}